body{
    display: block;
}
.allOfSearch {
    position: fixed;
    right: 8px;
    border: red solid 2px;
    width: 20%;

    
}
.searchInput{
    font-size: 1vw;
    height: 1.5vw;
    width: 60%;
    float: left;
    
    
}
.searchSubmit{
    height: 1.5vw;
    float: left;
}
.searchResults{
    all: initial;
    display: block;
    background-color: bisque;
}
.bitconfused{
    all: initial;
}
.allPosts{
    border: red solid 2px;
}