body{
    display: block;
}
@media (min-width: 1280px){
.allOfSearch { /* This is what holds everything that involves the actual search bar*/
    position: fixed;
    right: 8px;
    border: red solid 2px;
    width: 20%;
}
.searchInput{
    font-size: 1vw;
    height: 1.5vw;
    width: 60%;
    float: left;
}
.searchSubmit{
    display: none;
}
.searchReset{
    display: none;
}
.searchResults{
    all: initial;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.post{
    border: red solid 2px;
}


.bitconfused{ /* tbh im not sure what this actually is but im using it to get rid of bullet points */
    all: initial;
}
.allPosts{
    border: red solid 2px;
}
}

@media (max-width: 1279px) and (min-width: 901px){
    .allOfSearch { /* This is what holds everything that involves the actual search bar*/
        position: fixed;
        right: 8px;
        border: red solid 2px;
        width: 13%;
    }
    .searchInput{
        font-size: 1vw;
        height: 2vw;
        width: 90%;
        float: left;
    }
    .searchSubmit{
        display: none;
    }
    .searchReset{
        display: none;
    }
    .searchResults{
        all: initial;
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .post{
        border: red solid 2px;
    }
    .bitconfused{ /* tbh im not sure what this actually is but im using it to get rid of bullet points */
        all: initial;
    }
    .allPosts{
        border: red solid 2px;
    }
}

@media (max-width: 900px){
    .allOfSearch { /* This is what holds everything that involves the actual search bar*/
        margin-bottom: 10px;;
        
    }
    .searchInput{
        width: 80.5%;
        font-size: 4vw;
        height: 8vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .searchSubmit{
        display: none;
    }
    .searchReset{
        display: none;
    }
    .bitconfused{ /* tbh im not sure what this actually is but im using it to get rid of bullet points */
        all: initial;
    }
    .searchResults{
        all: initial;
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .post{
        border: red solid 2px;
    }
}
