body{
    display: block;
}
.allOfSearch {
    position: fixed;
    right: 8px;
    border: red solid 2px;
    width: 20%;

    
}
.searchInput{
    font-size: 1vw;
    height: 1.5vw;
    width: 60%;
    float: left;
    
    
}
.searchSubmit{
    height: 1.5vw;
    float: left;
}
.searchResults{
    all: initial;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.post{
    border: red solid 2px;
}

section{
    display: flex;
}
.pfp{
    display: flex;
    width: 30px;
    height: 30px;
    margin-bottom: 0px;
        
}
.username{
    display: flex;
    margin-top: 3px;
    margin-left: 3px;
    font-size: 18px;
    margin-bottom: 0px;
}
.postTitle{
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.postDescription{
    margin-top: 5px;
    
}

.bitconfused{
    all: initial;
}
.allPosts{
    border: red solid 2px;
}


