
@media (min-width: 1280px){
    .everythingSameUserProfile{
        border: 2px black solid;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 10px;
    }
    .everythingDifUserProfile{
        border: 2px black solid;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 10px;
    
    }
    .ProfilePagePFP{
        
        
    }
    .profileForm{
        display: flex;
        flex-direction: row-reverse;
        border: 2px black solid;
    }
    .userNameProfile{
        border: 2px black solid;
    
    }
    .displayNameBtn{
        
        
        
    }
    .displayNameInput{
       
        
        
    }
    .changeNameError{
        margin: 0;
        border: 2px black solid;
    }
}


@media (max-width: 1279px) and (min-width: 901px){
    .everythingSameUserProfile{
        border: 2px black solid;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 10px;
        
    }
    .everythingDifUserProfile{
        border: 2px black solid;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 10px;
    }
    .ProfilePagePFP{
        width: 70px;
        
        
    }
    .userNameProfile{
        border: 2px black solid;
        
    }
    .profileForm{
        display: flex;
        justify-content: flex-end;
        border: 2px black solid;
    }
    .displayNameBtn{
        
        
    }
    .displayNameInput{
       
        
    }
    .changeNameError{
        margin: 0;
        
    }
}


@media (max-width: 900px){
    .everythingSameUserProfile{
        border: 2px black solid;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 5px;
        row-gap: 0px;
        
        
    }
    .everythingDifUserProfile{
        border: 2px black solid;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 5px;
    }
    .ProfilePagePFP{
        width: 15%;
        margin: 0px;
        
    }
    .userNameProfile{
        border: 2px black solid;
        margin: 0px;
        font-size: 14px;
    }
    .profileForm{
        display: flex;
        justify-content: flex-end;
        border: 2px black solid;
        padding: 0;
        margin: 0;
    }
    .displayNameBtn{
        margin-top: 0;
        font-size: 12px;
        
        
    }
    .displayNameInput{
        
        font-size: 12px;
        padding: 0;
        margin: 0px;
    }
    .changeNameError{
        margin: 0px;
        font-size: 12px;
    }
}