
@media (min-width: 1280px){
.createText{
    margin-top: 0px;
    width: 50%;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}
.titleTextbox{
    width: 50%;
    padding: 0%;
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(64, 69, 79);
    color: white;
    font-family: sans-serif;
}
.titleTextbox::placeholder{
    color: white;
    font-family: sans-serif;
}
.descriptionTextBox{
    width: 50%;
    font-size: 20px;
    padding: 0%;
    height: 130px;
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(64, 69, 79);
    color: white;
    font-family: sans-serif;
}
.descriptionTextBox::placeholder{
    color: white;
    font-family: sans-serif;
}
.createSubmit{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(64, 69, 79);
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}
}

@media (max-width: 1279px) and (min-width: 901px){
    .createText{
        width: 65%;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .titleTextbox{
        width: 65%;
        display: block;
        font-size: 24px;
        margin-bottom: 10px;
        padding: 0%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(64, 69, 79);
        color: white;
        font-family: sans-serif;
    }
    .titleTextbox::placeholder{
        color: white;
        font-family: sans-serif;
    }
    .descriptionTextBox{
        width: 65%;
        font-size: 16px;
        height: 10vw;
        padding: 0%;
        display: block;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(64, 69, 79);
        color: white;
        font-family: sans-serif;
    }
    .descriptionTextBox::placeholder{
        color: white;
        font-family: sans-serif;
    }
    .createSubmit{
        width: 65%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(64, 69, 79);
        color: white;
        font-family: sans-serif;
        font-size: 12px;
    }
}

@media (max-width: 900px){
    .createText{
        width: 80%;
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    .titleTextbox{
        width: 80%;
        border: red solid 2px;
        padding: 0%;
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(64, 69, 79);
        color: white;
        font-family: sans-serif;
    }
    .titleTextbox::placeholder{
        color: white;
        font-family: sans-serif;
    }
    .descriptionTextBox{
        width: 80%;
        border: red solid 2px;
        padding: 0%;
        font-size: 12px;
        height: 100px;
        display: block;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(64, 69, 79);
        color: white;
        font-family: sans-serif;
    }
    .descriptionTextBox::placeholder{
        color: white;
        font-family: sans-serif;
    }
    .createSubmit{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(64, 69, 79);
        color: white;
        font-family: sans-serif;
        font-size: 10px;
    }
}